@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

datalist {
  z-index: 999;
}

/* sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... } */
/* Styling the date input field */

/* Changing the color of the placeholder text */

/* Remove arrows (appearance is browser-specific) */
/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} */

/* Styling the calendar icon (works on some browsers) */
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #999;
  color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

@layer components {
  /* =========Default CSS======== */
  /* .main {
    background-color: #034769;
  } */
  body {
    @apply font-Poppins max-w-[100%];
  }

  h1 {
    @apply lg:text-[1.7em] text-2xl font-semibold;
  }

  h2 {
    @apply lg:text-[1.5em] text-xl font-semibold;
  }

  h3 {
    @apply lg:text-[1.17em] text-lg font-semibold;
  }

  h4 {
    @apply lg:text-[1em] text-base  font-semibold;
  }

  h5 {
    @apply lg:text-[0.83em] text-sm font-semibold;
  }

  h6 {
    @apply lg:text-[0.67em] text-xs font-semibold;
  }

  ul {
    @apply block;
  }

  li {
    @apply list-none inline-block;
  }

  span {
    @apply inline-block;
  }

  input {
    @apply box-border h-9;
    font-size: 0.8rem !important;
  }

  th {
    @apply font-semibold text-xs;
  }

  input[type="date"]::placeholder {
    @apply text-gray-200;
  }
}
